@model List<Course>

@{
    ViewData["Title"] = "Course Index";
}

<h2>Courses</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <th>@Html.DisplayNameFor(m => m[0].CourseID)</th>
        <th>@Html.DisplayNameFor(m => m[0].Title)</th>
        <th>@Html.DisplayNameFor(m => m[0].Credits)</th>
        <th>@Html.DisplayNameFor(m => m[0].Department)</th>
        <th></th>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => course.CourseID)</td>
                <td>@Html.DisplayFor(modelItem => course.Title)</td>
                <td>@Html.DisplayFor(modelItem => course.Credits)</td>
                <td>@Html.DisplayFor(modelItem => course.Department.Name)</td>
                <td>
                    <a asp-action="Details" asp-route-id="@course.CourseID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@course.CourseID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@course.CourseID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>